.pokemon {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    background-color: #50577a;
    cursor: pointer;
    border: 4px solid transparent;
    transition: 0.3s ease-in-out;
}

.pokemon:hover {
    border-color: #393e46;
}

.pokemon h4 {
    text-align: center;
    color: #fff;
}
